
:root {

  --blu-prim: #1E50A2;
  --yl-prim: #FAF267;
  --or-prim: #F39B26;
  --blk-prim: #232323;
  --grey-prim: #F5F6F8;
  --grey-sec: #828282;
  --grey-thr: #B6B6B6;
  --wh-prim: #FFFFFF;

  --h2-size: 2.4rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --p-size: 1.4rem;
  --a-size: 1rem;
  --btn-size: 1.4rem;

  --nav-width: 80px;

  color: var(--blk-prim);
}

h1, h2, h3, h4, a {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

p {
  font-size: var(--p-size);
}

a {
  font-size: var(--a-size);
  color: var(--blk-prim);
  text-decoration: none;
}

button {
  font-size: var(--btn-size);
}

* Button {
  font-size: var(--btn-size);
  border-radius: 50px;
  border: 1px solid var(--blk-prim);
  background-color: var(--wh-prim);
  cursor: pointer;
}


* Button:hover {
  border: 1px solid var(--blu-prim);
  background-color: var(--blu-prim);
  opacity: .8;
  color: var(--wh-prim);
  transition: background-color 0.2s ease-out;
}

* {
  font-family: yu-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* CSS for Table */
table {
  border-spacing: 0; /* To remove space between table border and th/td border */
  border: solid var(--blk-prim) 1px;
  border-radius: 8px;
}

table td, th {
  /* Set only left and top border to prevent from overlapping borders */
  border-left: solid var(--blk-prim) 1px;
  border-top: solid var(--blk-prim) 1px;
  padding: 10px;
  font-size: 1rem;
}

table th {
  background-color: var(--or-prim);
  border-top: none;
}

table td {
  text-align: center;
}

table th:first-child {
  /* Round the top-left corner of left-first th to fit the background with border */
  border-top-left-radius: 6px;
  border-left: none;
}

table th:last-child {
  /* Round the top-right corner of right-first th to fit the background with border */
  border-top-right-radius: 6px;
}

table td:first-child {
  /* Remove overlapping borders */
  border-left: none;
}

/**/

@media only screen and (min-width: 1600px) {

}

@media only screen and (max-width: 1366px) {
  h2 {
    font-size: calc(var(--h2-size) * 0.8);
  }

  h3 {
    font-size: calc(var(--h3-size) * 0.8);
  }

  h4 {
    font-size: calc(var(--h4-size) * 0.8);
  }

  p {
    font-size: calc(var(--p-size) * 0.8);
  }

  /*a {*/
  /*    font-size: calc(var(--a-size) * 0.8);*/
  /*}*/
  Button {
    font-size: calc(var(--btn-size) * 0.8);
  }
}

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: calc(var(--h2-size) * 0.6);
  }

  h3 {
    font-size: calc(var(--h3-size) * 0.6);
  }

  h4 {
    font-size: calc(var(--h4-size) * 0.6);
  }

  p {
    font-size: calc(var(--p-size) * 0.6);
  }

  Button {
    font-size: calc(var(--btn-size) * 0.6);
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --nav-width: 60px;
  }

  h2 {
    font-size: calc(var(--h2-size) * 0.8);
  }

  h3 {
    font-size: calc(var(--h3-size) * 0.8);
  }

  h4 {
    font-size: calc(var(--h4-size) * 0.8);
  }

  p {
    font-size: calc(var(--p-size) * 0.8);
  }

  Button {
    font-size: calc(var(--btn-size) * 0.8);
  }
}
